:root {
    --primary: #313631;
    --secondary: #59A96A;
    --button: #9BDEAC;
    --background: #FFFFFF;
    --details: #dd7977;
  }


  .userRecipes{
      padding-top: 5vw;
  }

  .userRecipes>a{
    margin-left: 6vw;
    width: 40vw;
    position: relative;
    left: 62%;
    top: -3vw;
    font-size: 3.5vw;
    padding: 1vw 2vw;
    background-color: var(--button);
    color: black;
    border-radius: 16px;
    outline: none;
    border: 1px solid var(--primary);
    text-decoration: none;
  }

  .userRecipes h2{
      color: var(--primary);
      margin-left: 5vw;
      margin-top: -7vw;
      font-size: 10vw;
      margin-bottom: -5vw;
      text-decoration: underline;
  }

  .userRecipes .delete-button{
      background-color: var(--details);
      border-radius: 0 0 20px 20px;
      position: absolute;
      left: 5%;
      border-top: none;
      width: 14vw;  
}
/* .userRecipes .delete-image{
    width: 5vw;
} */