.home nav{
    display: none;
}

.awssld__content {
    margin-top: 5vw;
}


.home a {
    background-color: violet;
    opacity: 0;
    padding: 40vw;
}

.home h3{
    margin-bottom: -5vw;
    margin-top: 20px;
}
.home .first-title{
    margin-top: 2vw;
}

@media(min-width: 1000px){
    .awssld, .awssld__wrapper{
        width: 90%;
        margin-left: 5%;
        margin-bottom: 20px;
    }
}