.home nav{
    display: none;
}

.awssld__content {
    margin-top: 5vw;
}

.home a {
    background-color: violet;
    opacity: 0;
    padding: 40vw;
}

.home h3{
    margin-top: 20vw;
    margin-bottom: 0;
}