:root {
    --primary: #313631;
    --secondary: #59A96A;
    --button: #9BDEAC;
    --background: #FFFFFF;
    --details: #B88E8D;
}
html{
    padding-bottom: 0;
}

.recipe .back-buttons {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    left: 27%;
    top: 3vw;
}

.recipe a {
    margin-left: 2vw;
    width: 34vw;
    font-size: 4vw;
    padding: 1vw 2vw;
    background-color: var(--button);
    color: black;
    border-radius: 16px;
    outline: none;
    border: 1px solid var(--primary);
    text-decoration: none;
    text-align: center;
}

.recipe img{
    width: 102%;
    position: relative;
    left: -1%;
    top: 5vw;
    border: 2px solid var(--primary);
}

.recipe h2 {
    color: var(--primary);
    margin: 3vw;
    text-decoration: underline;
}

.recipe h4{
    margin-top: 0;
    margin-left: 3vw;
}

.recipe p {
    margin-top: -3vw;
    margin-left: 3vw;
    margin-bottom: 8vw;
}

.recipe .rating{
    margin-top: -5vw;
}