:root {
    --greenapp: #a6e637;
    --greenbutton: #e2ffb0;
    --greenintense: #197309;
    --greenwhite: #edf5eb;
  }

.SignUp {
    text-align: center;
    color: var(--greenintense);
}

.SignUp form{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
}

::-webkit-input-placeholder { 
    color: var(--greenintense); 
    opacity: .5;
    font-size: 3.75vw;
    font-style: italic;
} 

.SignUp form input{
    margin-bottom: 5vw;
    border: none;
    border-bottom: 1px solid var(--greenintense);
    padding-bottom: 5px;
    font-size: 4vw;
    color: var(--greenintense);
    outline: none;
    background-color: var(--greenwhite);
}

/* .SignUp form input:-internal-autofill-selected{
    background-color: black !important;
} */

.SignUp form button {
    margin: 4vw auto 0 auto;
    width: 40vw;
    font-size: 5vw;
    padding: 2vw;
    background-color: var(--greenbutton);
    border: 2px solid var(--greenintense);
    color: var(--greenintense);
    border-radius: 6px;
}

.SignUp p {
    font-size: 3.8vw;
    text-align: left;
    color: orangered;
    font-style: italic;
    margin-top: 6vw;
    line-height: 5vw;
    width: 100%;
}

