:root {
  --greenapp: #a6e637;
  --greenbutton: #e2ffb0;
  --greenintense: #197309;
  --greenwhite: #edf5eb;
}

body{
  background-color: var(--greenwhite);
}

.App {
  font-size: 6vw;
}

.App .recipe-card{
  border: 2px solid black;
  width: 300px;
  margin: 20px auto;
}

.App .recipe-card img{
  width: 100%;
}

.App .misdatos img{
  width: 300px;
  margin: 0 auto;
  display: block;
}

.App nav{
  background-color: var(--greenapp);
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  border-bottom: 1.7px solid black;
  padding-bottom: .6%;
}

.App nav a,
.App nav button{
  margin: auto 1.2%;
  text-decoration: none;
  color: black;
  background-color: var(--greenbutton);
  padding: 1.2%;
  border-radius: 5px;
  border: 1px solid #4a7303;
}

.App .logout-btn{
  display: inline-block;
  width: 25vw;
  font-size: 6vw;
  padding: 5px 0;
  margin-top: 8px;
  margin-right: 10px;
}

/* .App nav a {

} */

.App .login-button {
  margin-right: 2.5%;
}